<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275734805552-rsgcrtoo0a9ji1ehn2bvg2nqqu8tu84u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275734805552-rsgcrtoo0a9ji1ehn2bvg2nqqu8tu84u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>275734805552-cr789pas78uc02m45sh5l67opsh54rrn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3XnNCAslC729W7xV6ubD_CZlE3irKwO8</string>
	<key>GCM_SENDER_ID</key>
	<string>275734805552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseSignin</string>
	<key>PROJECT_ID</key>
	<string>signin-example-efbb2</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-example-efbb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275734805552:ios:0dda1ebcd696f0842e01f5</string>
</dict>
</plist>